.DS_Store
*.pyc
profdumbledorebot/model.py
profdumbledorebot/twitter.py
profdumbledorebot/custom_commands.py
profdumbledorebot/sql/ccmd.py
*_env
.idea/*
build/*
dist/*
profdumbledorebot.egg-info/*
profdumbledorebot/*.json
